.formulaire{
    padding: 50px;
    background: linear-gradient(
        135deg,
        rgba(227, 167, 38, 1),
        rgba(245, 199, 78, 0.8),
        rgba(160, 117, 25, 1)
      );
      box-shadow: 
        inset 0 1px 5px rgba(255, 255, 255, 0.5), // Reflet interne
        inset 0 -1px 5px rgba(0, 0, 0, 0.4),      // Ombre interne
        0 4px 10px rgba(0, 0, 0, 0.3);            // Ombre externe
      border: 1px solid rgba(255, 255, 255, 0.4); // Bordure brillante
      backdrop-filter: blur(5px); // Effet vitreux
      -webkit-backdrop-filter: blur(5px); // Compatibilité Safari
      background-clip: padding-box;
    

    h3{
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
        width: 50%;
    }
    
    .error{
        color: red;
        border: 2px red solid;
        padding: 10px;
        background-color: rgb(254, 152, 152);
        text-align: center;
        width: 48%;
        margin: auto;
        margin-top: 10px;
    }
    
    .success{
        color: green;
        border: 2px green solid;
        padding: 10px;
        background-color: rgb(106, 217, 98);
        text-align: center;
        width: 48%;
        margin: auto;
        margin-top: 10px;
    }
    
    .submitbutton{
        background-color: black;
        color: white;
        border: black 2px solid;
        border-radius: 5px;
        padding: 10px;
        width: 20%;
        margin-top: 5px;
        cursor: pointer;
    }
}

.contactform{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

//MEDIA QUERIES

@media (max-width: 768px){
    .formulaire{
        padding: 25px;
        background-position: left 8% bottom 50%;
        h3{
            margin: auto;
            margin-bottom: 20px;
        }
        
        .contactform{
            width: 80%;

            .submitbutton{
                width: 50%;
                margin: auto;
                margin-top: 10px;
            }
        }
        .msgonsubmit{
            width: 100%;
        }
    }
}