.Header {
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;

    .monlogo{
      display: flex;
      align-items: center;
    }
  
    a img {
      width: 80%;
      object-fit: cover;
      padding: 5px 0 0 5px;
    }
  
    .mesinfos {
      display: flex;
      padding: 0 10px 0 0;

      .numtel{
        display: none;
      }
  
      i {
        margin-right: 10px;
        font-size: 25px;
        color: rgb(227, 167, 38);
      }
    }

    .logoaesdesktop{
      display: none;
    }
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 10;
  
    .navbar {
      display: flex;
      justify-content: space-between;
      background-color: black;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
  
      ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        font-size: 20px;
  
        li {
          text-decoration: none;
        }
  
        a {
          text-decoration: none;
          color: white;
        }
      }
  
      // Menu burger par défaut caché en desktop
      .menuburger {
        display: none;
      }
    }
  }
  
  // MEDIA QUERIES
  @media (max-width: 768px) {
    header {
      .navbar {
        .menuburger {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 30px;
          height: 30px;
          cursor: pointer;
          z-index: 6;
  
          span {
            height: 4px;
            width: 100%;
            background-color: rgb(227, 167, 38);
            border-radius: 2px;
            transition: all 0.3s ease;
            transform-origin: center;
          }
        }
  
        ul {
          position: fixed;
          top: 0;
          right: 0;
          height: 55vh; /* Règle la hauteur */
          width: 100vw;  /* Remplit toute la largeur */
          background-color: rgba(0, 0, 0, 0.85); /* Couleur noire avec transparence */
          flex-direction: column;
          align-items: center;
          padding-top: 60px;
          list-style: none;
          transform: translateX(100%);
          transition: transform 0.4s ease;
          z-index: 5;
  
          li {
            margin: 20px 0;
            text-align: center;
          }
  
          a {
            text-decoration: none;
            color: white;
          }
        }
  
        ul.open {
          transform: translateX(0);
        }
      }
    }
  }
  
  /* Pour les tablettes (entre 768px et 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
      font-size: 16px;
  }
}

/* Pour les desktops (1024px et plus) */
@media (min-width: 1024px) {
  .Header {
    width: 100%;
    justify-content: space-between;

    .navbar{
      ul{
        gap: 50px;

        .numtel{
          display: block;
          margin-right: 50px;
          border: 2px solid rgb(227, 167, 38);
          border-radius: 5px;
        }
      }
    }

    .monlogo{
      display: block;
      width: 13%;
    }

      .iconetel, .logoaesresponsive, .logoaestext{
        display: none;
      }

      .logoaesdesktop{
        display: flex;
        margin-left: 15px;
      }
  }
}

// @media (min-width: 1024px) {
//   .Header {
//     // margin: 0;
//     // padding: 0;
//     // display: flex;

//     .iconetel{
//       display: none;
//     }

//     a{
//       // width: 100%;
//     }
//       .logoaesresponsive, .logoaestext{
//         display: none;
//       }
//       .logoaesdesktop{
//         display: block;
//         // justify-content: flex-start;
//         width: 15%;
//       }

//       .mesinfos{
//         ul{
//           display: flex;
//           justify-content: flex-start;
//           align-items: center;

//           li{
//             margin: auto;
//           }
//         }
//       }
//   }
// }