.description-container{

    .partner-title{
        position: relative; // Nécessaire pour positionner le pseudo-élément correctement
            color: white;
            z-index: 1; // Assure que le texte est au-dessus du pseudo-élément
            text-align: center;
            padding: 11px;
        
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7); // Ajuste l'opacité ici
                z-index: -1; // Positionne le pseudo-élément sous le texte
            }
        
            &::after{
                content: "";
                display: block;
                background-color: white;
                width: 70px; // Ajuste cette largeur selon la taille souhaitée
                height: 2px; // Hauteur de la ligne sous le texte
                margin: 8px auto 0; // Espace au-dessus pour décaler la ligne
            }
    }
    
    .mes-partners{
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        margin: 20px;
        padding: 20px;
        justify-content: center;

        figure{
            width: 70%;
            margin: 15px 0 15px 0;
        }

        img{
            width: 100%;
            object-fit: cover;
        }

        figcaption{
            text-align: center;
            font-size: large;
            font-weight: bold;
        }
    }
}

//MEDIA QUERY DESKTOP

@media (min-width: 1024px){
    .description-container{
        .partner-title{
            text-align: start;
            padding: 18px;

            &::after{
                width: 8vh;
                margin: 0;
              }
        }

        .mes-partners{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            figure{
                width: 15%;
            }

            img{
                width: 100%;
                height: 25vh;
                object-fit: contain;
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }
}