#Servdiv {
    position: relative;
    background: linear-gradient(160deg, #F5F5F5 70%, rgb(227, 167, 38));
    color: black; // Ajuste la couleur du texte pour la visibilité

    // Tout le contenu de body au-dessus de la superposition
    * {
        position: relative;
        z-index: 1;
    }

    h1{
        text-align: center;
        margin: 0;

        &::after{
            content: "";
            display: block;
            background-color: black;
            width: 70px; // Ajuste cette largeur selon la taille souhaitée
            height: 2px; // Hauteur de la ligne sous le texte
            margin: 8px auto 0; // Espace au-dessus pour décaler la ligne
        
        }

        &::before{
            content: "";
            display: block;
            width: 100%;
            height: 50px;
        }
    }

}

.Noservices {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 20px grey;
    

    img{
      width: 100%;
      margin-top: 15px;
      border-radius: 10px;
      object-fit: cover;
    }

    button{
      margin: auto;
      background-color: rgb(227, 167, 38);
      padding: 10px 50px;
      border-radius: 20px;
      border: 2px solid black;
      color: black;
      text-decoration: none;
    }

    // Styles pour les icônes dans les cercles
    .repair, .trucktow, .transport {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;            // Taille du cercle
      height: 70px;
      border-radius: 50%;     // Rend l'élément circulaire
      background-color: rgba(0, 0, 0, 0.7);  // Couleur de fond
      color: black;           // Couleur de l'icône
      margin-bottom: 10px;    // Espace entre le cercle et le texte

      i {
        font-size: 1.5rem;    // Taille de l'icône
      }
    }

    p{
        padding: 20px;
        text-align: center;
    }

  }
}

.Noservices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      // Styles pour les icônes dans les anneaux
      .repair, .trucktow, .transport {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;            // Taille de l'anneau
        height: 70px;
        border-radius: 50%;     // Rend l'élément circulaire
        border: 3px solid black; // Contour blanc
        background-color: transparent;  // Fond transparent
        color: black;           // Couleur de l'icône
        margin-bottom: 10px;    // Espace entre l'anneau et le texte
  
        i {
          font-size: 1.5rem;    // Taille de l'icône
        }
      }
    }
  }

  //MEDIA QUERRY DESKTOP
  
  @media (min-width: 1024px) {
    #Servdiv{

      .Noservices{
       display: flex;
       flex-direction: row;
       margin-top: 45px;

       article{
        align-items: center;
        width: 31%;

        img{
          height: 35vh;
        }
       }
      }
      h1{
        text-align: start;
        margin-left: 20px;
  
        &::after{
          width: 8vh;
          margin: 0;
        }
      }
    }

  }
