.gallerytitle{
    position: relative; // Nécessaire pour positionner le pseudo-élément correctement
    color: white;
    z-index: 1; // Assure que le texte est au-dessus du pseudo-élément
    text-align: center;
    height: 80px;
    padding: 11px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); // Ajuste l'opacité ici
        z-index: -1; // Positionne le pseudo-élément sous le texte
    }

    &::after{
        content: "";
        display: block;
        background-color: white;
        width: 70px; // Ajuste cette largeur selon la taille souhaitée
        height: 2px; // Hauteur de la ligne sous le texte
        margin: 8px auto 0; // Espace au-dessus pour décaler la ligne
    }
}

.slidesimg-container {
    width: 100%;
    height: 45vh;
    position: relative;

    .slidesimg {
        object-fit: cover;
        height: 100%;

        // Applique une superposition sombre uniquement sur la dernière image
        &.darken {
            filter: brightness(0.4); // Rend l'image plus sombre
        }
    }

    // Bouton de la dernière diapo
    .last-slide-button {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        font-size: 16px;
        color: black;
        background-color: rgb(227, 167, 38); // Laisse le bouton plus clair pour bien le distinguer
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 2; // Positionne le bouton au-dessus de l'image

        // Effet au survol
        &:hover {
            background-color: rgba(255, 255, 255, 1); // Plus opaque au survol
        }
    }
}

//MEDIA QUERY DESKTOP

@media (min-width: 1024px){
    .gallerytitle{
        text-align: start;
        padding: 18px;

        &::after{
            width: 8vh;
            margin: 0;
        }
    }

    .slidesimg-container{
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom: 5px solid rgb(227, 167, 38);
        border-top: 5px solid rgb(227, 167, 38);

        .slidesimg{
            object-fit: contain;
        }
    }
}
