/* styles.css */

* {
    scroll-behavior: smooth;
    scroll-padding: 90px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background: linear-gradient(180deg, #000000 50%, #3a3a3a 75%, #6e6e6e 100%); */
    background: linear-gradient(160deg, #F5F5F5 70%, rgb(227, 167, 38));
    /* background-image: url('/Image_accueil_aes_depannage.jpg'); Chemin depuis le dossier public */
    background-size: cover; /* L'image couvre toute la page */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    background-attachment: fixed; /* Garde l'image fixe au scroll */
    height: 100vh;
    overflow-x: hidden;
    font-size: medium;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 14px;
}

figcaption{
    font-size: medium;
}

/* MEDIA QUERY DESKTOP */

@media (min-width: 1024px){
    *{
        scroll-padding: 150px;
    }
}